<section>
    <form action="/admin/add-product" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Description</label>
    <input type="text" class="form-control" name="desc" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-check">
    <input type="file" class="form-control" name="image" id="exampleCheck1">
    <label class="form-label" for="exampleCheck1">Image</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</section>