<section>
    <div class="container">
        <div class="row">
            {{#each products}}
            <div class="col-md-2 m-2">
                <div class="card" style="width: 18rem;">
                    <img src="/product-images/{{this._id}}.jpg" style="height: 8rem; width:100%;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.desc}}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>